
@import "../../../../styles.scss";
::ng-deep ::before, ::after {
    // box-sizing: border-box;
    border-width: 0;
    /* border-style: solid; */
    border-color: #ffffff;
}
.formborder{
    border: 1px solid gray ;
    border-radius: 10px;
  
  }
  :host ::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: 6px;
    padding-bottom: 6px;
}

:host ::ng-deep .mat-mdc-form-field-infix {
    min-height: 40px;
}
:host ::ng-deep .mdc-text-field .mdc-floating-label {
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

:host ::ng-deep .mat-mdc-icon-button.mat-mdc-button-base {
    width: 35px;
    height: 35px;
    padding: 6px;
}
:host ::ng-deep .mdc-notched-outline__notch
{
  border-right: none;
}
.mat-mdc-text-field-wrapper {
    height: 40px;
    flex: auto;
    will-change: auto;
}
.upload-button {
    display: flex;
    padding: 8px 16px;
    background-color:  #0056b3;; /* Button background color */
    color: #fff; /* Button text color */
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .upload-button:hover {
    background-color: #0056b3; /* Button hover color */
  }
  .mat-simple-snackbar {
    justify-content: center !important;
  }
  
  
  .upload-button mat-icon {
    font-size: 20px;
  }

  .card-height{
    height: 250px;
    overflow: auto;
  }
  