<div class="p-4">
    <h1 class="text-lg mb-4">{{ data.title }}</h1>

    <form [formGroup]="addStateForm" (ngSubmit)="submit()">
        <div class="flex flex-wrap items-center">
            <!-- Image Section -->


            <!-- Form Section -->
            <div class="flex flex-col w-full md:w-1/2">
                <mat-form-field class="full-width mb-4" appearance="outline">
                    <mat-label>State Name</mat-label>
                    <input matInput placeholder="State Name" [maxLength]="30"
                    (input)="formatStateName($event)" formControlName="state">
                </mat-form-field>
            <div class="flex">
                <button mat-raised-button color="primary" *ngIf="editForm">
                    {{ "SAVE" }}
                </button>
                <!-- <button mat-raised-button color="primary" (click)="updateVehicleBrand()" *ngIf="!editForm"
                    [disabled]="addVehicleBrandForm.invalid">
                    {{ "UPDATE" }}
                </button> -->
                <button mat-raised-button color="warn" class="ms-2" type="button" (click)="dialogRef.close(false)">
                    Cancel
                </button>
            </div>

        </div>
        </div>
    </form>
</div>